:root {
    --ana-renk: aqua;
    --arka-plan: black;
    --yazi-rengi: white;
    --nav-renk: rgba(15, 15, 15, 0.9);
}

body.acik {
    --ana-renk: red;
    --arka-plan: white;
    --yazi-rengi: #1a1a1a;
    --nav-renk: rgba(255, 255, 255, 0.9);
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    
}

body {
    background-color: var(--arka-plan);
    color: var(--yazi-rengi);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.6;
}

#fare-nokta {
    width: 8px; height: 8px; background: var(--ana-renk);
    position: fixed; border-radius: 50%; pointer-events: none; z-index: 9999;
}

#ana-nav {
    position: fixed; top: 0; width: 100%; display: flex;
    background: var(--nav-renk);
    justify-content: space-between; 
    align-items: center;
    padding: 20px 10%;  z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.nav-sag {
    display: flex; 
    align-items: center; 
}
.link-liste {
    display: flex; 
    list-style: none; 
    margin-right: 50px; 
}
.link-liste a {
    color: var(--yazi-rengi); text-decoration: none; 
    margin-left: 25px; 
    transition: 0.3s; 
}
.link-liste a:hover { color: var(--ana-renk); }


#pFgiris{
    width: 100px;
    height: 100px;
}